@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.two-column-list {
  columns: 2; /* Set the number of columns to 2 */
  column-gap: 1rem; /* Adjust the gap between columns as needed */
}

.header-background {
  background-image:
  linear-gradient(90deg, rgba(15,15,15,1) 30%, rgba(15,15,15,0.2) 100%),
  url('../../public/images/background1.png');
  @apply w-full h-screen;
  background-size: cover;
  color: white;
  padding: 20px;
}

#footer h2 {
    font-family: var(--font-dela);
    @apply text-2xl;
}

#footer a {
  @apply text-primaryOrange;
}


#service li::marker {
  @apply text-primaryOrange text-6xl;
}